---

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
const pageTitle = "My Astro Learning Blog";
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout  pageTitle={pageTitle}>

	<body>

  <h1>{pageTitle}</h1>
  <p>This is where I will post about my journey learning Astro.</p>
   <ul>
  {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
	</body>

</BaseLayout>
